<%title  "Resource Management System - Update Applicant" %>
<% page_header "Update Applicant" %>

<%- dropdown_options = Bvadmin::RmsDropDownConfig.options_for(:employee_application, :status) -%>

<%= content_for :head do %>
    <%= stylesheet_link_tag "hr", media: 'all' %>
  <%= javascript_include_tag "modify-employee" %>
<% end %>


<%= hidden_field_tag :authenticity_token, form_authenticity_token %>




<div id="content" class="container">

  <%= @applicant.fname %> <%= @applicant.lname %> <br>
  <%= @active_applications.count %> Active Application(s) <br>
  
    <% @active_applications.each do |row| %>
      Vacancy #: <%= row.vacancy_number %>
      Status: <%= row.status %> <br> 
    <% end %>
  <%= form_tag rms_applicant_edit_path(@applicant), method: 'POST', remote: false, multipart: true, id: 'applicant-form' do %>
    <div style="text-align: right">
        * denotes a required field<br />
        ** denotes a field updated by HR Smart/PAID report<br />
      </div>
    <div class="accordion">
      <h3><a href="#" alt="Personal Information">Personal Information</a></h3>
      <div class="accordion-section">
        <div class="fieldset-left">
          <div class="fieldset-left-app-lname"><%= label_tag :lastname, "*Last Name:" %></div>
           <%= text_field_tag :lastname, @applicant.lname, name: 'applicant[lname]' %>
        </div>

        <div class="fieldset-left">
          <div class="fieldset-left-app-fname"><%= label_tag :firstname, "*First Name:" %></div>
          <%= text_field_tag :firstname, @applicant.fname, name: 'applicant[fname]' %>
        </div>
          
        <div class="fieldset-right">
          <%= label_tag :middleinital, "Middle Initial:" %>
          <%= text_field_tag :middleinitial, @applicant.minit, name: 'applicant[minit]' %>
        </div>
        <br /><br />
        <div class="fieldset-left">
          <div class="fieldset-left-app-title2"><%= label_tag :title, "Title(JR, SR):" %></div>
           <%= text_field_tag :title, @applicant.title, name: 'applicant[title]' %>
        </div>
        
        <div class="fieldset-right">
          <div class="fieldset-left-app-gender"><%= label_tag :gender, "Gender:" %></div>
          <%= select_tag :gender, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee_applicant, :gender, ''), @applicant.gender || ''), name: 'applicant[gender]' %>
        </div>
        <br /><br />
        <div class="fieldset-left">
          <%= label_tag :streetadr, "Street Address:" %>
          <%= text_field_tag :streetadr, @applicant.streetadr, name: 'applicant[streetadr]' %>
        </div>
          
        <div class="fieldset-right">
          <div class="fieldset-left-app-city"><%= label_tag :city, "City:" %></div>
          <%= text_field_tag :city, @applicant.city, name: 'applicant[city]' %>
        </div>
        <br /><br />
        <div class="fieldset-left">
          <div class="fieldset-left-app-state"><%= label_tag :state, "State:" %></div>
           <%= text_field_tag :state, @applicant.state, name: 'applicant[state]' %>
        </div>
          
        <div class="fieldset-right">
          <div class="fieldset-left-app-zip"><%= label_tag :zip, "Zip:" %></div>
          <%= text_field_tag :zip, @applicant.zip, name: 'applicant[zip]' %>
        </div>
        <br /><br />

        <div class="fieldset-left">
         <div class="fieldset-left-app-wkphone"> <%= label_tag :workphone, "Work Phone:" %></div>
           <%= text_field_tag :workphone, @applicant.workphone, name: 'applicant[workphone]' %>
          </div>

        <div class="fieldset-left">
          <%= label_tag :homephone, "Home Phone:" %>
          <%= text_field_tag :homephone, @applicant.homephone, name: 'applicant[homephone]' %>
        </div>
          
        <div class="fieldset-right">
          <%= label_tag :cellphone, "Cell Phone:" %>
          <%= text_field_tag :cellphone, @applicant.cellphone, name: 'applicant[cellphone]' %>
        </div>
        <br /><br />
        <div class="fieldset-left">
          <%= label_tag :email, "Email Address:" %>
          <%= text_field_tag :email, @applicant.email, size: 55, name: 'applicant[email]' %>
        </div>
      </div>
        
      <h3><a href="#" alt="Position Information">Position Information</a></h3>
      <div class="accordion-section">
        <h3><a href="#" alt="New Position">New Position</a></h3>
        <div class="accordion-section">
        
            <%= fields_for 'napplication[]',@application, include_id: false do |app_form| %>
     
              <div class="fieldset-left">
                <div class="fieldset-left">Office: </div>  <%= app_form.select :office_id, options_for_select(Bvadmin::RmsOrgOffice.dropdown), {}, {id: "office-nap", style: "width: 260px"} %>
              </div>
              <div class="fieldset-left">Division:  </div><%= app_form.select :division_id, options_for_select(Bvadmin::RmsOrgDivision.dropdown), {}, {id: "division-nap", style: "width: 260px"} %>
              <br /><br />
              <div class="fieldset-left">
                <div class="fieldset-left-app-branch">Branch:  </div><%= app_form.select :branch_id, options_for_select(Bvadmin::RmsOrgBranch.dropdown), {}, {id: "branch-nap", style: "width: 260px"} %>
            </div>
              <div class="fieldset-left-app-unit">Unit:  </div><%= app_form.select :unit_id, options_for_select(Bvadmin::RmsOrgUnit.dropdown), {}, {id: "unit-nap", style: "width: 260px"} %>
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-org"> Org Code: </div> <%= app_form.select :org_code, options_for_select(Bvadmin::RmsOrgCode.dropdown), {}, {id: "org-nap", style: "width: 260px"} %>
              </div>
              <div class="fieldset-left-app-title">*BVA Title: </div><%= app_form.text_field :title, id: "title-nap", style: "width: 260px" %>
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-grade"> *Grade: </div><%= app_form.text_field :grade, id: "grade-nap", style: "width: 260px"%>
              </div>
              <div class="fieldset-left-app-series">*Series: </div><%= app_form.text_field :series, id: "series-nap", style: "width: 260px" %> 
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-pay">Pay Schedule: </div><%= app_form.text_field :pay_schedule, id: "pay-schedule-nap", style: "width: 260px" %>
              </div>
              <div class="fieldset-left-app-vacancy">*Vacancy Number: </div><%= app_form.text_field :vacancy_number, id: "vacancy-number-nap" , style: "width: 260px"%>
              <br /><br />
              <div class="fieldset-left">
                <div class="fieldset-left-app-arpa">ARPA Number: </div><%= app_form.text_field :arpa, id: "arpa-nap",  style: "width: 260px"%>
              </div>
                <div class="fieldset-left-app-series">*Status: </div>  <%= app_form.select :status, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee_application, :status)), {}, {id: "status-nap", style: "width: 260px"} %>
          <% end %>
        </div>

        <% @applicant.applications.each do |application| %>
          <h3><a href="#" alt="Position Details">Position Details - <%= application.vacancy_number %></a></h3>
          <div class="accordion-section">
            <%= fields_for 'eapplication[]',application, include_id: false do |app_form| %>
     
              <div class="fieldset-left">
                <div class="fieldset-left">Office: </div>  <%= app_form.select :office_id, options_for_select(Bvadmin::RmsOrgOffice.dropdown, application.office_id || ""), {}, {id: "office-ap#{application.application_id}", style: "width: 260px"} %>
              </div>
              <div class="fieldset-left">Division:  </div><%= app_form.select :division_id, options_for_select(Bvadmin::RmsOrgDivision.dropdown, application.division_id || ""), {}, {id: "division-ap#{application.application_id}", style: "width: 260px"} %>
              <br /><br />
              <div class="fieldset-left">
                <div class="fieldset-left-app-branch">Branch:  </div><%= app_form.select :branch_id, options_for_select(Bvadmin::RmsOrgBranch.dropdown, application.branch_id || ""), {}, {id: "branch-ap#{application.application_id}", style: "width: 260px"} %>
            </div>
              <div class="fieldset-left-app-unit">Unit:  </div><%= app_form.select :unit_id, options_for_select(Bvadmin::RmsOrgUnit.dropdown, application.unit_id || ""), {}, {id: "unit-ap#{application.application_id}", style: "width: 260px"} %>
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-org"> Org Code: </div> <%= app_form.select :org_code, options_for_select(Bvadmin::RmsOrgCode.dropdown, application.org_code || ""), {}, {id: "org-ap#{application.application_id}", style: "width: 260px"} %>
              </div>
              <div class="fieldset-left-app-title">*BVA Title: </div><%= app_form.text_field :title, id: "title-ap#{application.application_id}", style: "width: 260px" %>
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-grade"> *Grade: </div><%= app_form.text_field :grade, id: "grade-ap#{application.application_id}", style: "width: 260px"%>
              </div>
              <div class="fieldset-left-app-series">*Series: </div><%= app_form.text_field :series, id: "series-ap#{application.application_id}", style: "width: 260px" %> 
              <br /><br />
              <div class="fieldset-left">
               <div class="fieldset-left-app-pay"> Pay Schedule: </div><%= app_form.text_field :pay_schedule, id: "pay-schedule-ap#{application.application_id}", style: "width: 260px" %>
              </div>
              <div class="fieldset-left-app-vacancy">*Vacancy Number: </div><%= app_form.text_field :vacancy_number, id: "vacancy-number-ap#{@application.application_id}" , style: "width: 260px"%>
              <br /><br />
              <div class="fieldset-left-app-arpa">ARPA Number: </div><%= app_form.text_field :arpa, id: "arpa-ap#{@application.application_id}",  style: "width: 260px"%>
            <br /><br />
            <h3><a href="#" alt="Position Status">Position Status</a></h3>
            <div class="accordion-section">
              *Status: <%= app_form.select :status, options_for_select(dropdown_options, application.status || dropdown_options.first), {}, {id: "stat-ap#{application.id}", 'data-application-id': application.id, class: "appstat"} %>
            <%= content_tag :div, id: "hold-partial-#{application.id}" do -%>
              <% partial = { 'Pipeline' => 'pipeline',
                              'Incoming' => 'incoming',
                              'Denied' => 'denied'}.fetch(application.status, nil) %>
                            <%= render partial: "/rms/applicant/status/#{partial}", locals: {appstatus: application} %> 
            
            <% end -%>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
      <h3><a href="#" alt="Applicant Records">Applicant Records</a></h3>
      <div class="accordion-section">
        <div class="attachments">
          <table cellpadding="10" class="table table-condensed employee-attachments">
            <thead>
              <tr>
                <th id="atchhdr_actions">Actions</th>
                <th id="atchhdr_date">Date</th>
                <th id="atchhdr_type">Type</th>
                <th id="atchhdr_filename">Filename</th>
                <th id="atchhdr_notes">Notes</th>
              </tr>
            </thead>
            <tbody id="attach-files">
              <%- @attachment.each do |attachment| -%>
                <%= render partial: '/rms/applicant/attachment/upload', locals: { attachment: attachment } %>
              <%- end -%>
              <% @applicant.attachments.each do |attachment| %>
                <tr id="at<%= attachment.id %>">
                <%= render partial: '/rms/applicant/attachment/show', locals: { attachment: attachment } %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <div id="employee-buttons">
        <div class="actions-left">
          <% unless @applicant.lname.nil? %>
          <%= button_tag "Delete Applicant Record", name: "delete" %>
          <% end %>

          <%= button_tag "Reset Altered Fields", type: 'reset' %>
        </div>

        <div class="actions-right">
          <%= button_tag "Save", name: "save", id: "save_applicant" %>
          <%= button_tag "Cancel", name: "cancel" %>
        </div>
      </div>


    
    </div>
  <%end%>
  
</div>
