<form method="POST" action="docket">
	<div id="rptControls" class="wrapper" >
		<div class="row">
			<div class="col-sm-2"><%= label_tag("docdate","Docket Range", alt:"Docket Range") %></div>
			<div class="col-sm-2"><%= label_tag("hType","Hearing Type", alt:"Hearing Type") %></div>
			<div class="col-sm-8"><%= label_tag("rsType","Resource Type", alt:"Resource Type") %></div>
		</div>
		<div class="row">
			<div class="col-sm-2 vertical-top"><%= text_field_tag("docdate",params[:docdate],class: "rptInput", alt:"Docket Range Date") %></div>
			<div class="col-sm-2 vertical-top"><%= select_tag("hType",options_for_select([["[Select Below]", "0"],["Central Office (CO)", "1"], ["Travel Board (TB)", "2"], ["Video Hearing (VH)", "6"]],params[:hType]), alt:"Select Hearing Type") %></div>
			<div class="col-sm-4 vertical-top"><%= select_tag("rsType",options_for_select([["[Select Below]", "0"],["Veterans Service Organizations (VSO)", "VSO"], ["Veteran Law Judges (VLJ)", "VLJ"]],params[:rsType]), alt:"Select Resource Type") %></div>
			<div class="col-sm-2 vertical-top"><%= button_tag("View Results", type: "submit", class: "rptButton", name: "ViewResults", id:"btnView", alt:"Click to Submit and View Results") %></div>
			<div class="col-sm-2 vertical-top"><%= button_tag("Export Results", type: "submit", class: "rptButton", name:"ExportResults", id:"btnExport", alt:"Click to Export Results") %></div>
		</div>
		<div class="row">
			<div class="col-sm-12 vertical-top" style="margin-left:5px">YYYY-MM</div>
		</div>
	</div>
</form>