<div id="rptResults" class="wrapper" style="background-color:#fff;" >
	<table class="table table-condensed" style="margin: 0 auto;line-height:0px">
		<thead class="thead-inverse">
			<tr>
				<th>Regional<br/>Office</th><th>Type</th><th class='cntrAlign'>Total<br/>Pending</th><th class='cntrAlign'>Pending<br/>(Pre <%= params[:docdate] %> )</th><th class='cntrAlign'>Percentage</th><th>Pre-FY2000</th><th>FY01-05</th><th>FY06-10</th><th>FY11-15</th><th>FY16</th><th>FY17</th>
			</tr>
		</thead>
		<tbody>
		<% @json.sort_by{|h,obj| obj["bfDocDate"]}.reverse.each do |h,obj| %>
			<tr>
				<td><%= obj["staID"] %>-<%= obj["ro"]["city"] %></td>
				<td><%= @shType %></td>
				<td class='rghtAlign'><%= obj["ttlPending"]  %></td>
				<td class='rghtAlign'><%= obj["bfDocDate"]  %></td>
				<td class='rghtAlign'><%= ((obj["bfDocDate"].to_f / @ttlbfDocDate.to_f)*100).round(1) %>%</td>
				<td class='cntrAlign'><%= obj["fyCol"][0] %></td>
				<td class='cntrAlign'><%= obj["fyCol"][1] %></td>
				<td class='cntrAlign'><%= obj["fyCol"][2] %></td>
				<td class='cntrAlign'><%= obj["fyCol"][3] %></td>
				<td class='cntrAlign'><%= obj["fyCol"][4] %></td>
				<td class='cntrAlign'><%= obj["fyCol"][5] %></td>
			</tr>
		<% end %>
			<tr class='rptTotals'>
				<td></td>
				<td>Totals</td>
				<td class='rghtAlign'><%= @ttls["ttlPending"] %></td>
				<td class='rghtAlign'><%= @ttls["bfDocDate"] %></td>
				<td class='rghtAlign'></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][0] %></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][1] %></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][2] %></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][3] %></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][4] %></td>
				<td class='cntrAlign'><%= @ttls["fyCol"][5] %></td>
			</tr>
		</tbody>
	</table>
</div> 
