        <div id="rptResults" class="wrapper">
          <div class="rptResultsHeader"><%= @shType %> Docket Report</div>
            <table class="table table-condensed hearingtable">
              <thead class="thead-inverse">
                <tr>
                  <th>Regional<br/>Office</th>
                  <th>Type</th>
                  <th class="cntrAlign">Total<br/>Pending</th>
                  <th class="cntrAlign">Pending<br/>(Pre <%= params[:docdate] %> )</th>
                  <th class="cntrAlign">Percentage</th>
                  <th>Pre-FY2000</th>
                  <th>FY01-05</th>
                  <th>FY06-10</th>
                  <th>FY11-15</th>
                  <th>FY16</th>
                  <th>FY17</th>
                </tr>
              </thead>
              <tbody>
                <% @output.each do |h, obj| %>
                <tr>
                  <td><%= obj.station_id %>-<%= obj.regional_office[:city] %></td>
                  <td><%= @shType %></td>
                  <td class="rghtAlign"><%= obj.total_pending %></td>
                  <td class="rghtAlign"><%= obj.docdate_total %></td>
                  <td class="rghtAlign"><%= obj.percentage_s %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[0] %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[1] %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[2] %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[3] %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[4] %></td>
                  <td class="cntrAlign"><%= obj.fiscal_years[5] %></td>
                </tr>
                <% end %>
                <tr class="rptTotals">
                  <td></td>
                  <td>Totals</td>
                  <td class="rghtAlign"><%= @ttls["ttlPending"] %></td>
                  <td class="rghtAlign"><%= @ttls["bfDocDate"] %></td>
                  <td class="rghtAlign"></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][0] %></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][1] %></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][2] %></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][3] %></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][4] %></td>
                  <td class="cntrAlign"><%= @ttls["fyCol"][5] %></td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
