<div id="content" class="container">
<form method="POST" action="">
	<div id="rptControls" class="wrapper" >
		<div class="row">
			<div class="col-sm-2">Docket Range</div>
			<div class="col-sm-2">Hearing Type</div>
			<div class="col-sm-4">Resource Type</div>
			<div class="col-sm-4">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-sm-2 vertical-top"><%= text_field_tag('docdate',params[:docdate],class: 'rptInput') %></div>
			<div class="col-sm-2 vertical-top"><%= select_tag('hType',options_for_select([["[Select Below]", "0"],["Central Office (CO)", "1"], ["Travel Board (TB)", "2"], ["Video Hearing (VH)", "6"]],params[:hType])) %></div>
			<div class="col-sm-4 vertical-top"><%= select_tag('rsType',options_for_select([["[Select Below]", "0"],["Veterans Service Organizations (VSO)", "VSO"], ["Veteran Law Judges (VLJ)", "VLJ"]],params[:rsType])) %></div>
			<div class="col-sm-2 vertical-top"><%= button_tag('View Results', type: 'submit', class: 'rptButton', name: 'ViewResults', id:'btnView') %></div>
			<div class="col-sm-2 vertical-top"><%= button_tag('Export Results', type: 'submit', class: 'rptButton', name:'ExportResults', id:'btnExport') %></div>
		</div>
		<div class="row">
			<div class="col-sm-2 vertical-top" style="margin-left:5px">YYYY-MM</div>
			<div class="col-sm-3"></div>
			<div class="col-sm-3"></div>
			<div class="col-sm-4">&nbsp;</div>
		</div>
	</div>
</form>
<div id="rptResults" class="wrapper" style="background-color:#fff;" >
<% if @json.present? %>
	<table class="table table-condensed" style="margin: 0 auto;line-height:0px;">
		<thead class="thead-inverse">
		<tr>
			<th>Regional Office</th><th>Type</th><th>Pending</th><th>Percentage</th><th>Pre-FY2000</th><th>FY01-05</th><th>FY06-10</th><th>FY11-15</th><th>FY16</th><th>FY17</th>
		</tr>
		</thead>
		<tbody>
		<% @ttls = Array.new(7,0)
		   @json.sort_by{|h,v| v[6]}.reverse.each do |h,v|
		%>
			<tr>
				<td><%= h %></td>
				<td><%= @shType %></td>
				<td class='rghtAlign'><%= v[6]  %></td>
				<td class='rghtAlign'><%= ((v[6].to_f / @ttlPending.to_f)*100).round(1) %>%</td>
				<td class='cntrAlign'><%= v[0] %></td>
				<td class='cntrAlign'><%= v[1] %></td>
				<td class='cntrAlign'><%= v[2] %></td>
				<td class='cntrAlign'><%= v[3] %></td>
				<td class='cntrAlign'><%= v[4] %></td>
				<td class='cntrAlign'><%= v[5] %></td>
			</tr>
		<%
			@ttls[0] += v[0]
			@ttls[1] += v[1]
			@ttls[2] += v[2]
			@ttls[3] += v[3]
			@ttls[4] += v[4]
			@ttls[5] += v[5]
			@ttls[6] += v[6]
		end %>
			<tr class='rptTotals'>
				<td></td>
				<td>Totals</td>
				<td class='rghtAlign'><%= @ttls[6]  %></td>
				<td class='rghtAlign'></td>
				<td class='cntrAlign'><%= @ttls[0] %></td>
				<td class='cntrAlign'><%= @ttls[1] %></td>
				<td class='cntrAlign'><%= @ttls[2] %></td>
				<td class='cntrAlign'><%= @ttls[3] %></td>
				<td class='cntrAlign'><%= @ttls[4] %></td>
				<td class='cntrAlign'><%= @ttls[5] %></td>
			</tr>
		</tbody>
	</table>
	<% end %>
</div> 
<% if @exportXLS.present? %>
<iframe id="exportData" style="display:none"></iframe>
<%= javascript_tag do %>
	//This function allows us to sort an array that is containing objects by using the object's key names
	function sort_by(field, reverse, primer){
	   var key = function (x) {return primer ? primer(x[field]) : x[field]};
	   return function (a,b) {
		  var A = key(a), B = key(b);
		  return ( (A < B) ? -1 : ((A > B) ? 1 : 0) ) * [-1,1][+!!reverse];                  
	   }
	}

	var exportRecs = JSON.parse('<%=raw j @exportXLS.to_json %>');
	var shType = '<%= j @shType.to_s %>'
	var ttlPending = '<%= j @ttlPending.to_s %>'
	var tblData = [];
	var tblTotals = [0,0,0,0,0,0,0];

	var processResults = function(){
		var d = $.Deferred();
		$.each(exportRecs, function(i,v){
			//sum = 0;
			//$.each(v,function(){sum+=parseFloat(this) || 0;});
			var obj = {
				ro: i,
				p: v[6],
				v: v
			}
			tblData.push(obj);
		});
		d.resolve();
		return d.promise();
	};
	
	var expTbl = $('<table></table>');
	$.when(processResults()).then(function(){
		tblData.sort(sort_by('p', false, parseInt))
	}).then(function(){
		expTbl.append("<tr><th>Regional Office</th><th>Type</th><th>Pending</th><th>Percentage</th><th>Pre-FY2000</th><th>FY01-05</th><th>FY06-10</th><th>FY11-15</th><th>FY16</th><th>FY17</th></tr>");
	}).then(function(){
		for(j = 0 ; j < tblData.length ; j++){
			var tr = $('<tr/>')
			tr.append("<td>" + tblData[j].ro +"</td>");
			tr.append("<td>" + shType + "</td>");
			
			tr.append("<td>" + tblData[j].p +"</td>");
			tblTotals[6] += tblData[j].p;
			
			tr.append("<td>"+ ((tblData[j].p / ttlPending)*100).toFixed(1) +"%</td>");
			for(i=0; i<(tblData[j].v.length-1); i++){
				tr.append("<td>" + tblData[j].v[i] +"</td>");
				tblTotals[i] += tblData[j].v[i];
			}
			expTbl.append(tr);
		}
	}).then(function(){
		var tr = $('<tr class="rptTotals"/>')
		tr.append("<td></td>");
		tr.append("<td>Totals</td>");
		tr.append("<td>" + tblTotals[6] +"</td>");
		tr.append("<td></td>");
		for(i=0; i<(tblTotals.length-1); i++){
			tr.append("<td>" + tblTotals[i] +"</td>");
		}
		expTbl.append(tr);
	}).then(function(){
		expTbl.table2excel({
			name: "ExportReport",
			filename: "ExportReport"
		});
	});
	
<% end %>
<% end %>
<% if @err.present? %>
	<div class='error'><b>Error Occurred</b><p>An error has occurred and your request could not be processed.<br/>Please validate all fields contain appropriate information and try again.</p></div>
<% end %>
</div>