<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fiscal Year Selection Saved</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <script>$(document).ready(function() { window.close(); });</script>
  </head>
  <body>
    <div>Close this window if it did not automatically close.</div>
    <hr>
    <table>
      <thead>
        <tr>
          <td align="center">Index</td>
          <td align="center">Begin</td>
          <td align="center">End</td>
        </tr>
      </thead>
      <tbody>
      <% session[:docket_fiscal_years].each_with_index do |dfy, i| %>
        <tr>
          <td align="center"><%= i %></td>
          <td align="center"><%= dfy[0] %></td>
          <td align="center"><%= dfy[1] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </body>
</html>
