<br /><br />
<%= fields_for :status, @empstatus do |f| %>
  <div class="fieldset-left-status">
    <%= f.label :seperation_status1, "Seperation Status:" %>
    <%= f.select :seperation_status, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :seperation_status, '')) %>
  </div>

  <div class="fieldset-left">
    <%= f.label :seperation_effective_date1, "Status Effective Date (MM/DD/YYYY):" %>
    <%= f.text_field :seperation_effective_date, class: 'datefield', placeholder: 'MM/DD/YYYY' %>
  </div>

  <div class="fieldset-right">
    <%= f.label :seperation_reason1, "Reason for Seperation:" %>
    <%= f.select :seperation_reason, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :seperation_reason, '')) %>
  </div>

  <br /><br />

  <div  class="hide-element"  id= "term_notes">
    <%= f.label :termination_notes1, "Comments:" %>
    <%= f.text_area :termination_notes, size: "93x3"%>
  </div>
<% end %>
