<div class="workforce-rpt-table table" role="presentation">
  <div class="tbl-row" role="row">
    <div class="tbl-col wf-hdr-office" role="columnheader">Office/Division</div>
    <div class="tbl-col wf-hdr-fte" role="columnheader">FTE</div>
    <div class="tbl-col wf-hdr-on-board" role="columnheader">On-Board</div>
    <div class="tbl-col wf-hdr-on-board-other" role="columnheader">Other*</div>
    <div class="tbl-col wf-hdr-rotation" role="columnheader">Rotation</div>
    <div class="tbl-col wf-hdr-vacant" role="columnheader">Vacant</div>
    <div class="tbl-col wf-hdr-funded" role="columnheader">Funded Positions</div>
    <div class="tbl-col wf-hdr-unfunded" role="columnheader">Unfunded Positions</div>
    <div class="tbl-col wf-hdr-incoming" role="columnheader">Total Incoming</div>
    <div class="tbl-col wf-hdr-departing" role="columnheader">Total Departing</div>
  </div>

  <%-
    totals = OpenStruct.new(fte: 0, on_board: 0, other: 0,
                            rotation: 0, vacant: 0, funded: 0,
                            unfunded: 0, incoming: 0, departing: 0)
  -%>

  <%- @offices.order('name ASC').each do |office| -%>
    <%-
      totals.fte += office.total_fte
      totals.on_board += office.total_on_board
      totals.other += office.total_on_board_other
      totals.rotation += office.total_rotation
      totals.vacant += office.total_vacant
      totals.funded += office.funded_positions
      totals.unfunded += office.unfunded_positions
      totals.incoming += office.total_incoming
      totals.departing += office.total_departing
    -%>
    <%- office.filters = @filters -%>
    <%- office_id = "o#{office.id}" -%>
    <%= render partial: 'rms/reports/workforce/row', locals: { section: office, section_id: office_id, belongs_to: nil } -%>
    <%- office.divisions.order('name ASC').each do |division| -%>
      <%- division.filters = @filters -%>
      <%- division_id = "d#{division.id}" -%>
      <%= render partial: 'rms/reports/workforce/row', locals: { section: division, section_id: division_id, belongs_to: office_id } -%>
      <%- division.branches.order('name ASC').each do |branch| -%>
        <%- branch.filters = @filters -%>
        <%- branch_id = "b#{branch.id}" -%>
        <%= render partial: 'rms/reports/workforce/row', locals: { section: branch, section_id: branch_id, belongs_to: division_id } -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
  <div class="tbl-row" role="row">
    <div class="tbl-col wf-ftr-office" role="gridcell">Grand Total</div>
    <div class="tbl-col wf-ftr-fte" role="gridcell"><%= "%0.2f" % totals.fte -%></div>
    <div class="tbl-col wf-ftr-on-board" role="gridcell"><%= totals.on_board -%></div>
    <div class="tbl-col wf-ftr-on-board-other" role="gridcell"><%= totals.other -%></div>
    <div class="tbl-col wf-ftr-rotation" role="gridcell"><%= totals.rotation -%></div>
    <div class="tbl-col wf-ftr-vacant" role="gridcell"><%= totals.vacant -%></div>
    <div class="tbl-col wf-ftr-funded" role="gridcell"><%= totals.funded -%></div>
    <div class="tbl-col wf-ftr-unfunded" role="gridcell"><%= totals.unfunded -%></div>
    <div class="tbl-col wf-ftr-incoming" role="gridcell"><%= totals.incoming -%></div>
    <div class="tbl-col wf-ftr-departing" role="gridcell"><%= totals.departing -%></div>
  </div>
</div>

<div class="wf-bottom-links">
  <ul class="inline-list">
    <li><a role="button" tabindex="0" id="wf-change-filters" aria-label="Change Filters">Change Filters</a></li>
    <li><%= link_to 'Home', root_path, 'aria-label': 'Return to home page' -%></li>
    <li><a role="button" tabindex="0" id="wf-refresh" aria-label="Refresh report">Refresh Report</a></li>
  </ul>
</div>
