<h2>Grade &amp; Position</h2>

<div class="tab-panel">
  <div class="accordion">
    <%= render partial: 'rms/employee/gradeposition/org_position' -%>
    <%= render partial: 'rms/employee/gradeposition/grade_position' -%>
    <%- hidden = @employee.is_board_member? ? '' : 'hide-element' -%>
    <div id="gp_ai_view" class="<%= hidden -%>">
      <%= render partial: 'rms/employee/gradeposition/attorney_information' -%>
    </div>
    <%- hidden = @employee.is_attorney? ? '' : 'hide-element' -%>
    <div id="gp_bmi_view" class="<%= hidden -%>">
      <%= render partial: 'rms/employee/gradeposition/board_member_information' -%>
    </div>
  </div>
</div>
