<h2>Status</h2>
<%= hidden_field_tag :emp, @employee.employee_id %>
<div class="tab-panel">
   <div class="accordion">
      <h3><a href="#" alt="Appointments">Appointments</a></h3>
        <div class="accordion-selection">
          <table cellpadding="10" class="table table-condensed">
          <thead>
            <tr>
              <th>Onboard Date</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
          <%@employee.statuses.each do |status| %>
            <%if status.status_type == 'Appointment' %>
              <tr>
                <td><%= status.appointment_onboard_date %></td>
                <td><%= status.appointment_notes %></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      </div>
      <h3><a href="#" alt="Promotions">Promotions</a></h3>  
        <div class="accordion-selection">
          <table cellpadding="10" class="table table-condensed">
          <thead>
            <tr>
              <th>Promotion Date</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
          <%@employee.statuses.each do |status| %>
            <%if status.status_type == 'Promotion' %>
              <tr>
                <td><%= status.promotion_date %></td>
                <td><%= status.promotion_notes %></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      </div>
      <h3><a href="#" alt="Separations">Separations</a></h3>
        <div class="accordion-selection">
          <table cellpadding="10" class="table table-condensed">
          <thead>
            <tr>
              <th>Effective Date</th>
              <th>Separation Status</th>
              <th>Separation Reason</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
          <%@employee.statuses.each do |status| %>
            <%if status.status_type == 'Separation' %>
              <tr>
                <td><%= status.separation_effective_date %></td>
                <td><%= status.separation_status %></td>
                <td><%= status.separation_reason %></td>
                <td><%= status.termination_notes %></td>
              </tr>
            <%end%>
          <%end%>
          </tbody>
        </table>
      </div>
      <h3><a href="#" alt="New Status">New Status</a></h3>
      <div class="accordion-section">
        <%= fields_for :status, @empstatus do |f| %>
          <div class="fieldset-left">
            <%= f.label :status_type1, "On/Off Rolls Action:" %>
            <%= f.select :status_type, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :employment_action, ''), @empstatus.status_type || '') %>
          </div>
        <% end %>
        <div id="status_view">
          <%- partial = { 'Appointment' => 'appointment',
                          'Separation' => 'separation',
                          'Promotion' => 'promotion'}.fetch(@empstatus.status_type, nil) -%>
          <%= render partial: "/rms/employee/status/#{partial}" unless partial.nil? %> 
        </div>
      </div>
    </div>
  </div>
