<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div style="text-align: right">
  * denotes a required field<br />
  ** denotes a field updated by HR Smart/PAID report<br />
</div>

<div id="tab-nav">
  <ul>
    <li><a href="#personal-information-1">Personal Information 1</a></li>
    <li><a href="#personal-information-2">Personal Information 2</a></li>
    <li><a href="#grade-position">Grade/Position</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#performance">Performance</a></li>
    <li><a href="#point-of-contact">Point of Contact</a></li>
    <li><a href="#employee-status">Status</a></li>
    <li><a href="#knowledge-management">Knowledge Management</a></li>
    <li><a href="#employee-records">Employee Records</a></li>
    <li><a href="#employee-benefits">Benefits</a></li>
  </ul>

  <div id="personal-information-1">
    <%= render partial: 'rms/employee/personal_1', employee: @employee %>
  </div>

  <div id="personal-information-2">
    <%= render partial: 'rms/employee/personal_2', employee: @employee %>
  </div>

  <div id="grade-position">
    <%= render partial: 'rms/employee/grade_position', employee: @employee %>
  </div>

  <div id="schedule">
    <%= render partial: 'rms/employee/schedule', employee: @employee %>
  </div>

  <div id="performance">
    <%= render partial: 'rms/employee/performance', employee: @employee %>
  </div>

  <div id="point-of-contact">
    <%= render partial: 'rms/employee/poc', employee: @employee %>
  </div>

  <div id="employee-status">
    <%= render partial: 'rms/employee/status', employee: @employee %>
  </div>

  <div id="knowledge-management">
     <%= render partial: 'rms/employee/training', employee: @employee %>
  </div>

  <div id="employee-records">
    <%= render partial: 'rms/employee/attachments', employee: @employee %>
  </div>

  <div id="employee-benefits">
    <% unless @view_private_info %>
      <%= render partial: 'rms/employee/benefits_no_pii', employee: @employee %>
    <% else %>
      <%= render partial: 'rms/employee/benefits', employee: @employee %>
    <% end %>
  </div>

</div>

<div id="employee-buttons">
  <div class="actions-left">
    <%= button_tag "Save", name: 'save', id: 'hidden_save', tabindex: -1 %>
    <% unless @employee.new_record? %>
      <%= button_tag "Delete Employee Record", name: "delete", data: { confirm: "Are you sure you want to delete #{@employee.fname} #{@employee.lname}?" } %>
    <% end %>

    <%= button_tag "Reset Altered Fields", type: 'reset' %>
  </div>

  <div class="actions-right">
    <%= button_tag "Save", name: "save", id: "save_employee" %>
    <%= button_tag "Cancel", name: "cancel" %>
  </div>
</div>
