<br /><br />
<%= fields_for 'eapplication[]', @application do |f| %>
  <div class="fieldset-left">
    <%= f.label :action_date1, "Action Date (MM/DD/YYYY):" %>
    <%= f.text_field :pipeline_action_date, placeholder: 'MM/DD/YYYY' %>
  </div>
  <div class="fieldset-right">
    <%= f.label :selection_date1, "Selection Date (MM/DD/YYYY):" %>
    <%= f.text_field :selection_date, placeholder: 'MM/DD/YYYY' %>
  </div>
  <br /><br />
  <div class="fieldset-left">
    <%= f.label :tentative_date1, "Tentative Offer Sent Date (MM/DD/YYYY):" %>
    <%= f.text_field :tentative_offer_date, placeholder: 'MM/DD/YYYY' %>
  </div>
  <div class="fieldset-right">
    <%= f.label :security_date1, "Sent to Security Date (MM/DD/YYYY):" %>
    <%= f.text_field :sent_to_security_date, placeholder: 'MM/DD/YYYY' %>
  </div>
  <br /><br />
  <div class="fieldset-left">
    <%= f.label :start_date1, "Sent Start Date (MM/DD/YYYY):" %>
    <%= f.text_field :sent_start_date, placeholder: 'MM/DD/YYYY' %>
  </div>
  <div class="fieldset-right">
    <%= f.label :eod_date1, "Requested EOD Date (MM/DD/YYYY):" %>
    <%= f.text_field :requested_eod, placeholder: 'MM/DD/YYYY' %>
  </div>
  <br /><br />

  <div class="fieldset-left">
    <%= f.label :pipeline_comments1, "Comments:" %>
    <%= f.text_area :pipeline_comments, size: "94x3" %>
  </div>
<% end %>
