<form method="POST" action="">
<div id="content" class="container">
<div id="rptControls" class="wrapper" >
	<div class="row">
		<div class="col-sm-2">Docket Range</div>
		<div class="col-sm-2">Hearing Type</div>
		<div class="col-sm-4">Resource Type</div>
		<div class="col-sm-4">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-sm-2 vertical-top"><%= text_field_tag('docdate',params[:docdate],class: 'rptInput') %></div>
		<div class="col-sm-2 vertical-top"><%= select_tag('hType',options_for_select([["[Select Below]", "0"],["Central Office (CO)", "CO"], ["Travel Board (TB)", "TB"], ["Video Hearing (VH)", "VH"]],params[:hType])) %></div>
		<div class="col-sm-4 vertical-top"><%= select_tag('rsType',options_for_select([["[Select Below]", "0"],["Veterans Service Organizations (VSO)", "VSO"], ["Veteran Law Judges (VLJ)", "VLJ"]],params[:rsType])) %></div>
		<div class="col-sm-2 vertical-top"><%= button_tag('View Results', type: 'submit', class: 'rptButton', name: 'ViewResults', id:'btnView') %></div>
		<div class="col-sm-2 vertical-top"><%= button_tag('Export Results', type: 'submit', class: 'rptButton', name:'ExportResults', id:'btnExport') %></div>
	</div>
	<div class="row">
		<div class="col-sm-2 vertical-top" style="margin-left:5px">YYYY-MM</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-3"></div>
		<div class="col-sm-4">&nbsp;</div>
	</div>
</div>
</form>
<div id="rptResults" class="wrapper" style="background-color:white;" >
	<% if @exportXLS.present? %>
		POP the Save Dialog		
	<% end %>
</div>
</div>