<h3><a href="#" alt="Grade &amp; Position">Grade &amp; Position</a></h3>
<div class="accordion-selection">
  <div class="fieldset-left">
    <%= label_tag :grade, "**Grade:" %>
    <%= select_tag :grade, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :grade, ''), @employee.grade || ''), name: 'employee[grade]', disabled: true %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :step, "**Step:" %>
    <%= select_tag :step, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :step, ''), @employee.step || ''), name: 'employee[step]', disabled: true %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :salary, "**Salary:" %>
    <%= text_field_tag :salary, @employee.salary, name: 'employee[salary]', readonly: true %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :position_number, "**PD Number:" %>
    <%= text_field_tag :position_number, @employee.position_num, readonly: true %>
  </div>

  <br /><br />

  <div class="fieldset-left">
    <%= label_tag :supervisorb, "Supervisor:" %>
    <%= select_tag :supervisorb, options_for_select([ ['',nil], ['False','FALSE'], ['True','TRUE'] ], @employee.supervisor || ''), name: 'employee[supervisor]' %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :paid_title, "Paid Title:" %>
    <%= select_tag :paid_title, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :paid_title, ''), @employee.paid_title || ''), name: 'employee[paid_title]' %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :series, "Series:" %>
    <%= select_tag :series, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :job_code, ''), @employee.job_code || ''), name: 'employee[job_code]' %>
  </div>

  <div class="fieldset-right">
    <%= label_tag :pay_sched, "Pay Schedule:" %>
    <%= select_tag :pay_sched, options_for_select(Bvadmin::RmsDropDownConfig.options_for(:employee, :pay_sched, ''), @employee.pay_sched || ''), name: 'employee[pay_sched]' %>
  </div>

  <br /><br />

  <div class="fieldset-left">
    <%= label_tag :date_of_grade, "Date of Grade:" %>
    <%= text_field_tag :date_of_grade, @employee.date_of_grade, name: 'employee[date_of_grade]', class: 'datefield' %>
  </div>

  <div class="fieldset-left">
    <%= label_tag :promo_elig_date, "Promotion Eligibility Date:" %>
    <%= text_field_tag :promo_elig_date, @employee.promo_elig_date, name: 'employee[promo_elig_date]', class: 'datefield' %>
  </div>

  <div class="fieldset-right">
    <%= label_tag :fte, "FTE:" %>
    <%= text_field_tag :fte, @employee.fte || '0.0', name: 'employee[fte]', size: 3 %>
  </div>

  <br /><br />

  <div class="fieldset-left">
    <%= label_tag :wig_date, "WIG Date:" %>
    <%= text_field_tag :wig_date, @employee.wig_date, name: 'employee[wig_date]', class: 'datefield' %>
  </div>

  <div class="fieldset-right">
    <%= label_tag :last_wig_date, "Last WIG Date:" %>
    <%= text_field_tag :last_wig_date, @employee.last_wig_date, name: 'employee[last_wig_date]', class: 'datefield' %>
  </div>
</div>
