<%= javascript_tag do %>

	var	exportRecs = JSON.parse('<%=raw j @exportXLS.to_json %>');
	var	tblTotals = JSON.parse(('<%=raw j @ttls.to_json %>'));
	var shType = '<%= j @shType.to_s %>'
	var judgeDays = '<%= j @judgeDays.to_s %>'

	var expTbl = $('<table></table>');
	var tblData = [];
	var tblContent = [];

	var processResults = function(){
		var d = $.Deferred();

		//This function allows us to sort an array that is containing objects by using the object's key names
		function sort_by(field, reverse, primer){
		   var key = function (x) {return primer ? primer(x[field]) : x[field]};
		   return function (a,b) {
			  var A = key(a), B = key(b);
			  return ( (A < B) ? -1 : ((A > B) ? 1 : 0) ) * [-1,1][+!!reverse];                  
		   }
		}

		$.each(exportRecs, function(name,data){
			var pct = parseFloat((parseFloat(data["bfDocDate"]) / parseFloat(tblTotals["bfDocDate"]))*100).toFixed(2);
			var obj = {
				ro:  data["staID"] + "-" + data["ro"]["city"],
				ttlPending: data["ttlPending"],
				bfDocDate: data["bfDocDate"],
				pct: pct,
				tzValue: data["tzValue"]
			}

			switch( shType ){
				case "1":
					var recDays = parseFloat((parseFloat(obj["pct"])/100)*parseFloat(judgeDays)).toFixed(2);
					obj["jdgDays"] = Math.round(recDays);
					obj["ttlAdded"] = Math.round(recDays)*11;
					tblTotals["ttlJudgeDays"] += obj["jdgDays"]
					tblTotals["ttlAdded"] += obj["ttlAdded"]
					break;
				case "2":
					break;
				case "6":
					var recDays = parseFloat((parseFloat(obj["pct"])/100)*parseFloat(judgeDays)).toFixed(2);
					obj["jdgDays"] = Math.round(recDays);
					obj["ttlAdded"] = Math.round(recDays)*parseInt(data["tzValue"]);
					tblTotals["ttlJudgeDays"] += obj["jdgDays"]
					tblTotals["ttlAdded"] += obj["ttlAdded"]
					break;
			}
			
			tblData.push(obj);
		});

		tblData.sort(sort_by('bfDocDate', false, parseInt))
		return d.resolve().promise();
	};
	
	$.when(processResults()).then(function(){
		tblContent.push("<tr>")
		tblContent.push("<th>Regional Office</th>")
		tblContent.push("<th>Total Pending</th>")
		tblContent.push("<th>Pending (Pre " + $('#docdate').val() + " )</th>")
		tblContent.push("<th>Percentage</th>")
	}).then(function(){
		switch( shType ){
			case "1":
				tblContent.push("<th>Judge Days Added</th>")
				tblContent.push("<th>Total Hearings Added</th>")
				tblContent.push("<th>TBD</th>")
				break;
			case "2":
				tblContent.push("<th>Judge Trips Added</th>")
				tblContent.push("<th>Total Hearings Added</th>")
				tblContent.push("<th>TBD</th>")
				break;
			case "6":
				tblContent.push("<th>Judge Days Added</th>")
				tblContent.push("<th>Total Hearings Added</th>")
				tblContent.push("<th>Hearings Per Day (Based on TimeZone)</th>")
		}
	
	}).then(function(){
		tblContent.push("</tr>")
	}).then(function(){
		console.log(tblData)
		console.log(tblTotals)
		for(j = 0 ; j < tblData.length ; j++){
			tblContent.push("<tr>")
			tblContent.push("<td>" + tblData[j]["ro"] +"</td>");
			tblContent.push("<td>" + tblData[j]["ttlPending"] +"</td>");
			tblContent.push("<td>" + tblData[j]["bfDocDate"] +"</td>");
			tblContent.push("<td>" + tblData[j]["pct"] +"</td>")
			switch( shType ){
				case "1":
					tblContent.push("<td>" + tblData[j]["jdgDays"] +"</td>")
					tblContent.push("<td>" + tblData[j]["ttlAdded"] +"</td>")
					tblContent.push("<td>" + "??" +"</td>")
					break;
				case "2":
					tblContent.push("<td>" + "" +"</td>")
					tblContent.push("<td>" + "" +"</td>")
					tblContent.push("<td>" + "" +"</td>")
					break;
				case "6":
					tblContent.push("<td>" + tblData[j]["jdgDays"] +"</td>")
					tblContent.push("<td>" + tblData[j]["ttlAdded"] +"</td>")
					tblContent.push("<td>" + tblData[j]["tzValue"] +"</td>")
			}
			tblContent.push("</tr>")
		}
	}).then(function(){
		tblContent.push('<tr class="rptTotals">');
		tblContent.push("<td>Totals</td>");
		tblContent.push("<td>" + tblTotals["ttlPending"] +"</td>");
		tblContent.push("<td>" + tblTotals["bfDocDate"] +"</td>");
		tblContent.push("<td></td>");
	}).then(function(){
		switch( shType ){
			case "1":
				tblContent.push("<td>"+ tblTotals["ttlJudgeDays"] +"</td>");
				tblContent.push("<td>"+ tblTotals["ttlAdded"] +"</td>");
				tblContent.push("<td></td>");
				break;
			case "2":
				tblContent.push("<td>"+ "" +"</td>");
				tblContent.push("<td>"+ "" +"</td>");
				tblContent.push("<td>"+ "" +"</td>");
				break;
			case "6":
				tblContent.push("<td>"+ tblTotals["ttlJudgeDays"] +"</td>");
				tblContent.push("<td>"+ tblTotals["ttlAdded"] +"</td>");
				tblContent.push("<td></td>");
			}
	
	}).then(function(){
		tblContent.push("</tr>");
	}).then(function(){
		expTbl.append(tblContent.join(''));
	}).then(function(){
		expTbl.table2excel({
			name: "ExportAnalysisReport",
			filename: "ExportAnalysisReport"
		});
	});


<% end %>